extends ../layouts/default.pug
include ../mixins/fancybutton.pug

mixin club(club)
    .col-md-4.text-uppercase
        a(href="clubs/"+club.slug).prevent_default_a
            .frame
                if club.clubImage.exists
                    img(src=club._.clubImage.fill(320,240)).img.pull-right
                else
                    //- fill w_320
                    img(src="images/grey-triangles.jpg" alt="grey triangle")
                p.title=club.name

block append variables
    - var activeElement="index";
    - var pageId="index";
    - var siteTitle = "HomePage Yo"; //- is this declaration put here?

block content
    //- first row
    .py-3
    .row.watch-video
        .col-md-5
            //- c fill w200 h333
            img(src="images/grey-triangles.jpg" alt="grey triangle")
            .py-3
        .col-md-7.busyness
            p Admist the busyness of school life, SJC STEAM Lab provides the space for us to #[span Break the Cycle, Rise Above, Focus on Science]
            a(href="#!") 
                span WATCH 
                span.fas.fa-play-circle
    .py-5
    //- second row
    .row.clubs.text-center
        each club in data.clubs.results
            +club(club)

    //- third row
    .row.learn-more
        .col-md-7
            ul.list-unstyled
                li LEARN MORE                    
                li 
                    a(href="/about")
                        span.fas.fa-file
                        span More about the Lab
                li                     
                    a(href="#!") 
                        span.fas.fa-lock
                        span More about the students in the space
                li                     
                    a(href="/projects")
                        span.fas.fa-folder-open
                        span Current Projects
                li                
                    a(href="/contact") 
                        span.fas.fa-wifi
                        span Contact Us
                li 
                    a(href="#!") READ MORE
                
        .col-md-5
            //- c fill w200 h400
            img(src="images/grey-triangles.jpg" alt="grey triangle")
