extends ../layouts/default.pug
include ../mixins/fancybutton.pug

mixin project(project)
    .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
        .shadow.p-3.mx-3.my-3.frame_height.normal-project
            if (project.projectImage.exists)
                img(src=project._.projectImage.fill(320,320)).img.pull-right.w-100
            else
                //- h 320 w 320
                
                img(src="images/grey-triangles.jpg" alt="grey triangle").w-100.default-project-image
            p.title.item-name.text-uppercase=project.name
        +fancybutton("buttongreen", "VIEW DETAILS", 'projects/'+project.slug)
        .mb-4
    

block append variables
    - var activeElement="projects";
    - var pageId="projects";

block content
    .row.text-center
        each project in data.projects.results
            +project(project)
            
        .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
            #coming_soon.shadow.p-3.mx-3.my-3.frame_height
                .rounded-circle
                .horizontal_line
                .vertical_line
                p COMING SOON
