extends ../layouts/default.pug



block append variables
    - var currentPage="project";

block content
    if data.project
        h2.title.text-uppercase=data.project.name
        br
        div
            if data.project.description.brief
                | !{data.project.description.brief}
            if data.project.description.extended
                | !{data.project.description.extended}         

