@import "variable.less";

#projects{
    .frame_height{
        min-height: 375px;
    }
    .normal-project{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    // .grey-triangles-background{
    //     background-color: @grey_bg_color;
    //     background-image: url("/images/grey-triangles.jpg");
    //     background-repeat: no-repeat;
    //     background-position: center center;
    //     background-size: cover;
    // }
    // .inside-flex{
    //     justify-content: space-between;
    //     align-items: flex-start;
    //     flex-wrap: wrap;
    // }
    // .default-project-image{
    //     object-fit: fill;
    //     height: auto;
    //     width: 100%;

    // }
    // .box{
    //     position: relative;
    //     width:100%;		/* desired width */
    //     &:before{
    //         display: block;
    //         padding-top: 100%; 	/* initial ratio of 1:1*/
    //     }
    // }
    .item-name{
        color: @sjc_green_color;
        margin-bottom: 0px;
        height: 5rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #coming_soon{
        display: flex;
        align-items: center;
        justify-content: center;
        .rounded-circle{
            overflow: hidden;
            width: 4.3rem;
            padding-bottom: 4rem;
            border: 0.15rem @projects_dark_grey solid;
            position: absolute;
        }
        .horizontal_line{
            background-color: @projects_dark_grey;
            width: 2rem;
            height: 0.15rem;
            position: absolute;
        }
        .vertical_line{
            background-color: @projects_dark_grey;
            height: 2rem;
            width: 0.15rem;
            position: absolute;
        }
        p{
            color: @projects_dark_grey;
            text-align: center;
            margin-top: 8rem;
        }
    }
}
